@font-face {
  font-family: "Fontil Sans";
  src: url("assets/fonts/FontinSans/Fontin_Sans_R.otf") format("opentype");
}
@font-face {
  font-family: "Tajwal";
  src: url("assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype"),
    url("assets/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype"),
    url("assets/fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetican/HelveticaNeueLTArabic-Roman.ttf") format("truetype"),
    url("assets/fonts/Helvetican/HelveticaNeueLTArabic-Bold.ttf") format("truetype");
}
